In [2]:
import os
import pandas as pd

# File path to the CSV file
csv_file_path = os.path.join('..', 'Resources', 'combined_player_tags1.csv')

# Columns to drop
columns_to_drop = ['/player_tag', '/data/currentPathOfLegendSeasonResult', 
                   '/data/lastPathOfLegendSeasonResult', '/data/lastPathOfLegendSeasonResult/rank']

# Load the CSV file into a DataFrame
player_data_wide_df = pd.read_csv(csv_file_path)

# Dropping columns
player_data_wide_df.drop(columns=columns_to_drop, inplace=True)

# Displaying the DataFrame
player_data_wide_df.head()

C:\Users\sungm\AppData\Local\Temp\ipykernel_61600\747014021.py:12: DtypeWarning: Columns (182,185,188,191,194,197,200,203,206,209,212,215,224,227,230,233,236,239,242,245,248,251,254,257,260,263,266,269,922,934,946,958,970,982,994) have mixed types. Specify dtype option on import or set low_memory=False.
  player_data_wide_df = pd.read_csv(csv_file_path)

,/data/achievements/0/completionInfo,/data/achievements/0/info,/data/achievements/0/name,/data/achievements/0/stars,/data/achievements/0/target,/data/achievements/0/value,/data/achievements/1/completionInfo,/data/achievements/1/info,/data/achievements/1/name,/data/achievements/1/stars,...,/data/supportCards/1/rarity,/data/tag,/data/threeCrownWins,/data/totalDonations,/data/totalExpPoints,/data/tournamentBattleCount,/data/tournamentCardsWon,/data/trophies,/data/warDayWins,/data/wins
0,NaN,Join a Clan,Team Player,3,1,4,NaN,Donate 250 cards,Friend in Need,1,...,NaN,#LV0LV,56,200,709,0,0,676,0,73
1,NaN,Join a Clan,Team Player,3,1,101,NaN,Donate 2500 cards,Friend in Need,3,...,NaN,#8R80YP,1193,32202,117657,116,25,5492,2,3382
2,NaN,Join a Clan,Team Player,3,1,48,NaN,Donate 2500 cards,Friend in Need,3,...,NaN,#R0VJQ,263,9192,0,4,0,1954,0,405
3,NaN,Join a Clan,Team Player,0,1,0,NaN,Donate 25 cards,Friend in Need,0,...,NaN,#JRRULRR9C,9,12,0,0,0,377,0,25
4,NaN,Join a Clan,Team Player,0,1,0,NaN,Donate 250 cards,Friend in Need,1,...,NaN,#QRJVULQQ9,49,96,0,0,0,3775,0,155

In [3]:
player_data_wide_df.columns

Index(['/data/achievements/0/completionInfo', '/data/achievements/0/info',
       '/data/achievements/0/name', '/data/achievements/0/stars',
       '/data/achievements/0/target', '/data/achievements/0/value',
       '/data/achievements/1/completionInfo', '/data/achievements/1/info',
       '/data/achievements/1/name', '/data/achievements/1/stars',
       ...
       '/data/supportCards/1/rarity', '/data/tag', '/data/threeCrownWins',
       '/data/totalDonations', '/data/totalExpPoints',
       '/data/tournamentBattleCount', '/data/tournamentCardsWon',
       '/data/trophies', '/data/warDayWins', '/data/wins'],
      dtype='object', length=2329)

In [4]:
url_columns_to_drop = [col for col in player_data_wide_df.columns if 'Urls' in col]
player_data_wide_df.drop(columns=url_columns_to_drop, inplace=True)
player_data_wide_df.head()

,/data/achievements/0/completionInfo,/data/achievements/0/info,/data/achievements/0/name,/data/achievements/0/stars,/data/achievements/0/target,/data/achievements/0/value,/data/achievements/1/completionInfo,/data/achievements/1/info,/data/achievements/1/name,/data/achievements/1/stars,...,/data/supportCards/1/rarity,/data/tag,/data/threeCrownWins,/data/totalDonations,/data/totalExpPoints,/data/tournamentBattleCount,/data/tournamentCardsWon,/data/trophies,/data/warDayWins,/data/wins
0,NaN,Join a Clan,Team Player,3,1,4,NaN,Donate 250 cards,Friend in Need,1,...,NaN,#LV0LV,56,200,709,0,0,676,0,73
1,NaN,Join a Clan,Team Player,3,1,101,NaN,Donate 2500 cards,Friend in Need,3,...,NaN,#8R80YP,1193,32202,117657,116,25,5492,2,3382
2,NaN,Join a Clan,Team Player,3,1,48,NaN,Donate 2500 cards,Friend in Need,3,...,NaN,#R0VJQ,263,9192,0,4,0,1954,0,405
3,NaN,Join a Clan,Team Player,0,1,0,NaN,Donate 25 cards,Friend in Need,0,...,NaN,#JRRULRR9C,9,12,0,0,0,377,0,25
4,NaN,Join a Clan,Team Player,0,1,0,NaN,Donate 250 cards,Friend in Need,1,...,NaN,#QRJVULQQ9,49,96,0,0,0,3775,0,155

In [5]:
info_columns_to_drop = [col for col in player_data_wide_df.columns if 'completionInfo' in col]
player_data_wide_df.drop(columns=info_columns_to_drop, inplace=True)
player_data_wide_df.head()

,/data/achievements/0/info,/data/achievements/0/name,/data/achievements/0/stars,/data/achievements/0/target,/data/achievements/0/value,/data/achievements/1/info,/data/achievements/1/name,/data/achievements/1/stars,/data/achievements/1/target,/data/achievements/1/value,...,/data/supportCards/1/rarity,/data/tag,/data/threeCrownWins,/data/totalDonations,/data/totalExpPoints,/data/tournamentBattleCount,/data/tournamentCardsWon,/data/trophies,/data/warDayWins,/data/wins
0,Join a Clan,Team Player,3,1,4,Donate 250 cards,Friend in Need,1,250,200,...,NaN,#LV0LV,56,200,709,0,0,676,0,73
1,Join a Clan,Team Player,3,1,101,Donate 2500 cards,Friend in Need,3,2500,32202,...,NaN,#8R80YP,1193,32202,117657,116,25,5492,2,3382
2,Join a Clan,Team Player,3,1,48,Donate 2500 cards,Friend in Need,3,2500,9192,...,NaN,#R0VJQ,263,9192,0,4,0,1954,0,405
3,Join a Clan,Team Player,0,1,0,Donate 25 cards,Friend in Need,0,25,12,...,NaN,#JRRULRR9C,9,12,0,0,0,377,0,25
4,Join a Clan,Team Player,0,1,0,Donate 250 cards,Friend in Need,1,250,96,...,NaN,#QRJVULQQ9,49,96,0,0,0,3775,0,155

In [6]:
player_data_wide_df.to_csv('combined_player_tags_master.csv', index=False)